<ul class="issues">
<% @issues.each do |issue| %> 
  <li>
    <div class="info-header"> 
      <span class="label pull-left">200</span>
      <span class="pull-right">
        created at <%= issue.created_at.to_s.humanize %>
      </span>
    </div>
    <div class="image-submitted clearfix">
      <%= image_tag issue.image.url %>
    </div>

    <h5 class="location">
      Location Here
    </h5>
  </li>
<% end %> 
</ul>

