<h1>New issue</h1>

	<script>  
        $(window).ready(function(){  
            initiate_geolocation();  
        });  
        function initiate_geolocation() {
		navigator.geolocation.getCurrentPosition(handle_geolocation_query,handle_errors);  
		 }  
        function handle_errors(error)  
        {  
            switch(error.code)  
            {  
                case error.PERMISSION_DENIED: alert("user did not share geolocation data");  
                break;  
                case error.POSITION_UNAVAILABLE: alert("could not detect current position");  
                break;  
                case error.TIMEOUT: alert("retrieving position timed out");  
                break;  
                default: alert("unknown error");  
                break;  
            }  
        }  
        function handle_geolocation_query(position){  
            $('#new_issue_latitude').val(position.coords.latitude);  
            $('#new_issue_longitude').val(position.coords.longitude);
			$('#new_issue_image_button').click();
        }
    </script>	

<%= render 'form' %>

<%= link_to 'Back', issues_path %>
