/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import "font-awesome";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 35px 0 35px 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;

}

.navbar-inverse .navbar-inner {
background: #228e0e; /* Old browsers */
background: -moz-linear-gradient(top,  #228e0e 0%, #44a030 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#228e0e), color-stop(100%,#44a030)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #228e0e 0%,#44a030 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #228e0e 0%,#44a030 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #228e0e 0%,#44a030 100%); /* IE10+ */
background: linear-gradient(to bottom,  #228e0e 0%,#44a030 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228e0e', endColorstr='#44a030',GradientType=0 ); /* IE6-9 */


	a.brand {
		height: 33px;
		width: 131px;
		background: url(alleycat-logo.png);
		display: block;
		margin: 0 auto;
		float: none;
	}	
}

.navbar-fixed-bottom {
	ul.nav {
		text-align: center;
		float: none;
		margin: 0 auto;
	}
}

.icon-camera {
	font-size: 28px;
}

.navbar-fixed-bottom.navbar-inverse .navbar-inner{
	background: #333333; /* Old browsers */
background: -moz-linear-gradient(top,  #333333 0%, #222222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #333333 0%,#222222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #333333 0%,#222222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #333333 0%,#222222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

	a.btn.btn-medium {
		-webkit-font-smoothing: antialiased;
		background: none;
		color: #eee;
		box-shadow: none;
		border: none;
		text-shadow: none;
		border-radius: 0;
		-webkit-border-radius: 0;		
		i {
			margin-right: 5px;
		}
		a.camera {
		i.icon-camera {
			font-size: 28px;	
		}
		padding: 0 10px;
	}
	} 
}