/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import "font-awesome";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;

}

.navbar-inverse .navbar-inner {
	background: #228E0E; 
	a.brand {
		height: 33px;
		width: 131px;
		background: url(alleycat-logo.png);
		display: block;
		margin: 0 auto;
		float: none;
	}	
}

.navbar-fixed-bottom {
	ul.nav {
		text-align: center;
		float: none;
		margin: 0 auto;
	}
}

