ul.issues {
	list-style-type: none;
	margin-left: 0; 

	.info-header {
		overflow: auto;
	}
	
	.image-submitted {
		margin: 10px 0;
		clear: both;		
		img {
			border: 1px solid #333;
		}
	}
	li {
		padding: 10px;
		border-bottom: 1px solid #ccc;
	}

	h5 {
		font-weight: normal;
		margin-bottom: 0; 
	}

}